{% load static %}
<div id="sign-in">
    <link rel="stylesheet" href="{% static 'welcome/style.css' %}" />
    <div>
      <link href="{% static 'welcome/sign-in.css' %}" rel="stylesheet" />

      <div class="sign-in-container">
        <div class="sign-in-sign-in">
          <div class="sign-in-input">
            <span class="sign-in-text"><span>Email address</span></span>
            <input
              type="text"
              placeholder="Your email"
              class="sign-in-inputfield"
            />
          </div>
          <span class="sign-in-text02"><span>Sign in</span></span>
          <div class="sign-in-tab">
            <div class="sign-in-group36694">
              <span class="sign-in-text04"><span>Sign up</span></span>
            </div>
            <div class="sign-in-group36693">
              <span class="sign-in-text06"><span>Register</span></span>
            </div>
          </div>
          <button class="sign-in-buttonprimary">
            <span class="sign-in-text08"><span>Sign in</span></span>
          </button>
          <div class="sign-in-input1">
            <span class="sign-in-text10"><span>Password</span></span>
            <div class="sign-in-inputfield1">
              <span class="sign-in-text12"><span>Password</span></span>
              <div class="sign-in-icon">
                <div class="sign-in-eye">
                  <img
                    src="public/external/vectori2438-buyb.svg"
                    alt="VectorI2438"
                    class="sign-in-vector"
                  />
                  <img
                    src="public/external/vectori2438-uri9.svg"
                    alt="VectorI2438"
                    class="sign-in-vector1"
                  />
                  <img
                    src="public/external/vectori2438-7574.svg"
                    alt="VectorI2438"
                    class="sign-in-vector2"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="sign-in-forgotpassword">
            <span class="sign-in-text14"><span>Forgot password?</span></span>
          </div>
        </div>
      </div>
    </div>
</div>